In [1]:
import pandas as pd

In [3]:
data = {
    'Transaction_ID': [1, 2, 3, 4, 5],
    'Product': ['A', 'B', 'A', 'C', 'B'],
    'Quantity': [10, 5, 2, 8, 7],
    'Price_per_Unit': [100, 200, 100, 300, 200]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

   Transaction_ID Product  Quantity  Price_per_Unit
0               1       A        10             100
1               2       B         5             200
2               3       A         2             100
3               4       C         8             300
4               5       B         7             200

In [6]:
def calculate_average_revenue(df):
    df['Revenue'] = df['Quantity'] * df['Price_per_Unit']
    average_revenue = df['Revenue'].mean()
    return average_revenue

In [7]:
average_revenue = calculate_average_revenue(df)

In [8]:
print(average_revenue)

1200.0

In [11]:
import pandas as pd

# Sample dataset


# Create a pandas DataFrame

# Define the function to calculate total revenue


# Calculate the total revenue

In [12]:
data = {
    'Transaction_ID': [1, 2, 3],
    'Date': ['2023-08-01', '2023-08-02', '2023-08-03'],
    'Product': ['Product A', 'Product B', 'Product C'],
    'Quantity': [5, 10, 2],
    'Price_per_Unit': [100, 50, 200]}

In [13]:
df = pd.DataFrame(data)

In [14]:
def calculate_total_revenue(df):
    df['Total_Price'] = df['Quantity'] * df['Price_per_Unit']
    total_revenue = df['Total_Price'].sum()
    return total_revenue

In [15]:
total_revenue = calculate_total_revenue(df)

In [16]:
print(f"The total revenue is: {total_revenue}")

The total revenue is: 1400